# Maven
target/
dependency-reduced-pom.xml

# Eclipse
.classpath
.project
.settings/

# Informes generados
security-report-*.txt
security-report.txt

# Archivos compilados
*.class

# Sistema operativo
.DS_Store
Thumbs.db

# Logs
*.logpom-invalido.xml
sbom-*.txt